@import "_colors";
@import "_typography";
@import "_grid";

body {
  background-color: $color-secondary;
  margin: 20px 10%;
}
h2 {
  font-family: $font-main;
  font-size: 51px;
  color: $color-font-primary;
  font-weight: 900;
}
h3 {
  font-family: $font-main;
  color: $color-font-primary;
  font-size: 38px;
}
.header {
  border-bottom: 1px solid $color-border-primary;
}
