@import "_colors";
@import "_typography";
@import "_grid";

body {
  background-color: $color-secondary;
  margin: 20px 10%;
  font-family: $font-main;
}
h2 {
  font-size: 51px;
  color: $color-font-primary;
  font-weight: 900;
}
h3 {
  color: $color-font-primary;
  font-size: 38px;
}
button {
  background-color: $color-button-primary;
  color: $color-font-accent;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  padding: 13px 26px;
  border-radius: 24px;
  &:hover {
    cursor: pointer;
  }
}
.header {
  border-bottom: 1px solid $color-border-primary;
}
