@import "../styles/main.scss";

.product {
  .title {
    font-size: 32px;
    font-family: $font-main;
    color: $color-font-primary;
  }
  .inventory {
    font-size: 21px;
    color: $color-font-primary;
  }
}
