@import "../styles/main.scss";

.product {
  .title {
    font-size: 32px;
    font-family: $font-main;
    color: $color-font-primary;
  }
  .inventory {
    text-transform: uppercase;
    font-size: 21px;
    color: $color-font-primary;
  }
  .price {
    font-size: 21px;
    font-family: $font-light;
    color: $color-font-primary;
  }
}
